{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <title>Clock</title>
    <script src="{% static 'polls/new.js' %}"charset="utf-8"></script>

    <link rel="stylesheet" href="{% static 'polls/new.css' %}">

</head>
<body>

    <h1>Hello World</h1>

    <a href="/home/tarnizzy/VM/ian.apk">Click to download</a>

    



    





</body>
</html>